*, *::before, *::after {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}