html {
    overflow-x: hidden;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
}

html * {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-style: normal;
    color: var(--color-black);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ol, ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    text-transform: inherit;
}