/* hidden content */

.visually-hidden:not(:focus):not(:active) {
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0;
    height: 0;
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.hidden-fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}