/* HIDDEN CONTENT ///////////////////////////////////////////////////////////////// */

.visually-hidden:not(:focus):not(:active) {
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0;
    height: 0;
}

.focusable:focus {
    position: static;
    width: auto;
    height: auto;
    clip: auto;
    white-space: normal;
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.hidden-fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.close-on-click {
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
}

/* BASE /////////////////////////////////////////////////////////////////////////// */

body {
    background: var(--color-beige);
}

/* MOBILE-FIRST /////////////////////////////////////////////////////////////////// */

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    position: relative;
    font-family: 'HelveticaNeueLTStd', sans-serif;
    text-transform: uppercase;
    z-index: 1000;
}

.home-logo {
    width: 136px;
    margin-bottom: -28px;
}

.desktop-nav {
    display: none;
}

.header__actions {
    display: flex;
    column-gap: 3.2rem;
}

.burger {
    width: 36px;
    margin: auto;
}

.link-to-site {
    width: 48px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-beige);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.2s;
    transition-property: opacity, visibility;
    transition-timing-function: ease;
}

.menu-toggle:checked ~ .mobile-menu {
    visibility: visible;
    opacity: 100;
}

.close-menu {
    position: fixed;
    width: 24px;
    top: 24px;
    left: 24px;
}

.mobile-menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    text-align: center;
}

.mobile-menu__logo {
    width: 164px;
}

.mobile-menu__tampon {
    width: 128px;
}

.mobile-menu__nav {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 2.8rem;
    margin-bottom: 4.4rem;
}

.mobile-menu__nav li {
    position: relative;
}

.mobile-menu__nav li.has-submenu > .close-on-click {
    display: none;
}

.mobile-menu__nav .submenu li {
    margin-top: 1.6rem;
}

.mobile-menu__nav .submenu li a, .mobile-menu__nav .submenu li i {
    color: var(--color-brown);
}

.mobile-menu__nav .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu-checkbox:checked ~ .submenu {
    max-height: 500px;
}

.mobile-menu__nav .submenu-toggle {
    display: inline-flex;
    column-gap: 1rem;
    position: relative;
    z-index: 2;
}

.mobile-menu__nav .submenu-toggle::after {
    display: block;
    content: '';
    background-image: url("../../assets/svg/arrow-down.svg");
    width: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
}

.mobile-menu .submenu-checkbox:checked + .mobile-menu .submenu-toggle::after {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.mobile-menu__nav a {
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

/* hero */

.hero__carousel {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.hero__track {
    position: relative;
    min-height: 100vh;
}

.hero__slide {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    height: 100vh;
    overflow: hidden;
    position: absolute;
    inset: 0;
    opacity: 0;
}

@keyframes hero {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.hero__slide--1 {
    animation: hero 18s infinite;
}

.hero__slide--2 {
    animation: hero 18s infinite;
    animation-delay: 6s;
}

.hero__slide--3 {
    animation: hero 18s infinite;
    animation-delay: 12s;
}

.hero__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero__image-wrapper--1 {
    background-image: url("../../assets/svg/bg-hero-1.svg");
}

.hero__image-wrapper--2 {
    background-image: url("../../assets/svg/bg-hero-2.svg");
}

.hero__image-wrapper--3 {
    background-image: url("../../assets/svg/bg-hero-3.svg");
}

.hero__figure--1, .hero__figure--3 {
    width: 64%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.hero__figure--1 {
    mask-image: url("../../assets/svg/masque-hero-1.svg");
}

.hero__figure--2 {
    width: 100%;
}

.hero__figure--3 {
    mask-image: url("../../assets/svg/masque-hero-3.svg");
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4.8rem 1.6rem;
    row-gap: 1.6rem;
    background: var(--color-pale-red);
}

.hero__title {
    font-family: 'FKScreamer', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5.2rem;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
    color: var(--color-red);
}

.hero__text, .hero__text i, .hero__slide-number {
    font-family: 'BricolageGrotesque', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-red);
}

.hero__text {
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.hero__text b {
    font-weight: 700;
    color: var(--color-red);
}

.hero__slide-number {
    line-height: 1.4;
    margin-bottom: 1.6rem;
}

.hero__cta {
    font-family: 'HelveticaNeueLTStd', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 8px;
    background: var(--color-red);
    color: var(--color-pale-red);
    padding: 1.4rem 2rem 1rem;
    position: relative;
}

.hero__cta::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url("../../assets/svg/deco-cta-hero.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
}

.hero__nav {
    position: absolute;
    top: 33%;
    width: 50px;
    z-index: 1000;
}

.hero__nav--previous {
    left: 1.6rem;
}

.hero__nav--next {
    right: 1.6rem;
}

.hero__slide.is-active {
    animation: none !important;
    opacity: 1 !important;
    z-index: 2;
}

.hero__slide:not(.is-active) {
    z-index: 1;
}

/* TABLET ///////////////////////////////////////////////////////////////////////// */

/* header */

@media (min-width: 500px) {
    .home-logo {
        width: 164px;
        margin-bottom: -34px;
    }
}

/* DESKTOP //////////////////////////////////////////////////////////////////////// */

/* header */

@media (min-width: 1110px) {
    .desktop-nav {
        display: block;
        font-size: 1.6rem;
        line-height: 1.4;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .home-logo {
        width: 208px;
        margin-bottom: -44px;
    }

    .burger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-nav .nav-links {
        display: flex;
        align-items: center;
        column-gap: 4.4rem;
    }

    .desktop-nav .submenu-toggle {
        display: inline-flex;
        column-gap: 1rem;
        position: relative;
        margin: 1rem 0;
    }

    .desktop-nav .nav-links li:hover .submenu-toggle {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
        cursor: pointer;
    }

    .desktop-nav .submenu-toggle::after {
        display: block;
        content: '';
        background-image: url("../../assets/svg/arrow-nav.svg");
        width: 6px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .desktop-nav .submenu {
        background: var(--color-beige);
        border: 2px solid var(--color-black);
        padding: 1.6rem 2.4rem;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition-duration: 0.2s;
        transition-property: opacity, visibility, transform;
        transition-timing-function: ease;
    }

    .desktop-nav .submenu li:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
    }

    .desktop-nav .nav-links li:hover .submenu {
        opacity: 100;
        visibility: visible;
    }

    .desktop-nav .submenu-toggle:hover::after {
        transform: rotate(90deg);
        transition: transform 0.2s ease;
    }
}